# Secret environment variables - Copy this file to constant_secret.zsh
# This file is gitignored for security

# API Keys
export MY_API_KEY="xxx"
export SECRET_TOKEN="yyy"

# Configuration variables

# Proxy Provider: "ccs" or "proxypal"
# ccs = https://github.com/kaitranntt/ccs/
# proxypal = https://github.com/heyhuynhgiabuu/proxypal
# antigravity-tools = https://github.com/lbjlaq/Antigravity-Manager/blob/main/README_EN.md
# Used in: proxy_ai.zsh
export PROXY_PROVIDER="proxypal"
export ANTIGRAVITY_AUTH_TOKEN="" # if PROXY_PROVIDER="antigravity-tools"

# Use Bun instead of npm/pnpm: true or false
# Used in: npm.zsh
export USE_BUN=true